.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  display: grid;
  gap: 40px;
  padding: 0 10px;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--decoration-color);
  align-self: end;
  bottom: 10px;
  z-index: -1;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--decoration-color);
  justify-self: end;
  top: 10px;
  z-index: -1;
}

.rec {
  position: absolute;
  display: flex;
  font-family: 'IBM Plex Mono', 'Monospace', sans-serif;
  font-size: 18px;
  line-height: 139%;
  color: var(--accent-color);
  justify-self: end;
  align-items: center;
  top: 10px;
  right: 10px;
  z-index: -1;
}

.rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-left: 10px;
}

.header__theme-menu {
  justify-self: end;
  margin-top: calc(75px + (100vw - 375px) * (117px / (768px - 375px)));
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  width: 70px;
  min-height: 26px;
  font-family: 'IBM Plex Mono', 'Monospace', sans-serif;
  font-size: 18px;
  line-height: 100%;
  color: var(--menu-color);
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid;
  outline-color: var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--menu-color);
}

.cover-title {
  font-family: 'IBM Plex Mono', 'Monospace', sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  text-transform: lowercase;
  width: fit-content;
  justify-self: center;
  align-self: center;
  height: fit-content;
}

.title {
  font-family: 'IBM Plex Mono', 'Monospace', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  color: var(--subtitle-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--article-title-color);
  height: fit-content;
  width: 100%;
}

.cover-description {
  width: calc(355px + (100vw - 375px) * (9px / (768px - 375px)));
  align-self: center;
  margin-bottom: 10px;
}

.main {
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.card__list {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.subclauses {
  display: grid;
  row-gap: 20px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.main-text {
  font-family: 'IBM Plex Mono', 'Monospace', sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
  justify-self: center;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.title__light {
  font-weight: 400;
}

.card__image {
  width: 100%;
  justify-self: center;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  position: relative;
}

.footer-title {
  font-family: 'IBM Plex Mono', 'Monospace', sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-transform: lowercase;
  justify-self: center;
  align-self: center;
}

@media (width >= 768px) {
  .page {
    gap: 60px;
    padding: 0 20px;
  }

  .header {
    min-height: 1024px;
  }

  .decorated-zone::before {
    bottom: 20px;
  }

  .decorated-zone::after {
    top: 20px;
  }

  .rec {
    top: 20px;
  }

  .header__theme-menu {
    margin-top: 192px;
  }

  .cover-title {
    justify-self: start;
    margin-left: -21px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .cover-description {
    justify-self: end;
    align-self: center;
    width: calc(364px + (100vw - 768px) * (127px / (1024px - 768px)));
    margin-bottom: 20px;
  }

  .main {
    gap: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .card__list_wide {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card__pictures {
    height: calc(780px + (100vw - 768px) * (268px / (1024px - 768px)));
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'sunset sunset icecream'
      'tape books icecream'
      'tape street street';
    gap: 20px;
  }

  .card__image {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .sunset {
    grid-area: sunset;
  }

  .icecream {
    grid-area: icecream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .footer {
    min-height: 1024px;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-top: 20px;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .card__list {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .card__list_wide {
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 1;
  }

  .subclauses {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .footer {
    min-height: 768px;
  }
}